/.idea
.vscode/settings.json

/build
/DemoEngine/example
/DemoEngine/lib
/DemoEngine/build
/DemoEngine/bin

/DemoEngine/3rd/7z/7z
/DemoEngine/3rd/assimp/assimp
/DemoEngine/3rd/d3dcompiler/d3dcompiler
/DemoEngine/3rd/DirectX-Headers
/DemoEngine/3rd/FreeImage/FreeImage
/DemoEngine/3rd/googletest/googletest
/DemoEngine/3rd/fmt/fmt
/DemoEngine/3rd/NanoRtti/NanoRtti
/DemoEngine/3rd/ogg/ogg
/DemoEngine/3rd/rapidjson/rapidjson
/DemoEngine/3rd/rapidxml/rapidxml
/DemoEngine/3rd/vorbis/vorbis
/DemoEngine/3rd/zlib/zlib
/DemoEngine/3rd/dxsdk/dxsdk

/ZEngine/bin
/ZEngine/include


*.png.dds