/.idea
/.vscode
/build
/DemoEngine/example
/DemoEngine/lib
/DemoEngine/build
/DemoEngine/bin
DemoEngine/.vscode/


/3rd/dxsdk/dxsdk
/3rd/assimp/assimp
/3rd/FreeImage/FreeImage
/3rd/zlib/zlib
/3rd/rapidjson/rapidjson
/3rd/rapidxml/rapidxml
/3rd/d3dcompiler/d3dcompiler